footer.footer-container.footer
    a#gotop(href='#')
        i.fa.fa-angle-up
            span(style='display: none;')  
        span TOP
    section.footer-about
        .container
            .row
                .col-12.col-md-12.col-lg-5.about-block
                    h2 關於真相工作室
                    .footer-about-desciption
                        p
                            | 真相工作室由陳政翰創立，主旨遠離宗教正視生活實事求是不迷信，盼世間人能夠以理智看待玄學祖先事，並好好拜祖先。主要經營項目：靈界翻譯溝通、祖先陰陽連線、寵物溝通及代寫祖先牌位內板等，多年來幫助許多人遠離宗教回歸生活正軌。
                .col-12.col-md-6.col-lg-4.about-block
                    h2 與我們聯絡
                    .footer-about-contact
                        .tel
                            i.fas.fa-phone-alt
                                span(style='display: none;')  
                            a(href='tel:0919778205' title='打電話給靈媒阿翰') 0919-778205
                .col-12.col-md-6.col-lg-3.about-block
                    h2 地址
                    .footer-about-address
                        .div-center
                            em 潛心創作中，不對外公開
    hr.index-hr
    .copyright
        .container-fluid
            .row
                .col-sm-12
                    | Copyright © 2021 真相工作室. All Right Reserverd.  Design By 陳政翰
    // Load Facebook SDK for JavaScript
    #fb-root.fb_reset
        div(style='position: absolute; top: -10000px; width: 0px; height: 0px;')
            div
        .fb-customerchat.fb_invisible_flow.fb_iframe_widget(attribution='setup_tool' page_id='1688844891193425' fb-xfbml-state='rendered' fb-iframe-plugin-query='app_id=&attribution=setup_tool&container_width=0&local_state=%7B%22v%22%3A0%2C%22path%22%3A2%2C%22chatState%22%3A1%2C%22visibility%22%3A%22hidden%22%2C%22showUpgradePrompt%22%3A%22not_shown%22%7D&locale=zh_TW&page_id=1688844891193425&request_time=1621168686599&sdk=joey')
            span(style='vertical-align: bottom; width: 1000px; height: 0px;')
                iframe.fb_customer_chat_bounce_out_v2.anchor_right(name='f18f159e9d250e' width='1000px' height='1000px' data-testid='dialog_iframe' title='' frameborder='0' allowtransparency='true' allowfullscreen='true' scrolling='no' allow='encrypted-media' src='https://www.facebook.com/v10.0/plugins/customerchat.php?app_id=&attribution=setup_tool&channel=https%3A%2F%2Fstaticxx.facebook.com%2Fx%2Fconnect%2Fxd_arbiter%2F%3Fversion%3D46%23cb%3Df1b79cab1ed9d68%26domain%3Dwww.xn--s0y3c.tw%26origin%3Dhttps%253A%252F%252Fwww.xn--s0y3c.tw%252Ff34eea8ec42278c%26relation%3Dparent.parent&container_width=0&local_state=%7B%22v%22%3A0%2C%22path%22%3A2%2C%22chatState%22%3A1%2C%22visibility%22%3A%22hidden%22%2C%22showUpgradePrompt%22%3A%22not_shown%22%7D&locale=zh_TW&page_id=1688844891193425&request_time=1621168686599&sdk=joey' style='padding: 0px; position: fixed; z-index: 2147483646; border-radius: 16px; top: auto; width: 399px; background: none; bottom: 85px; max-height: 0px; right: 4px; margin-right: 12px; visibility: visible; min-height: 0px;')
        .fb_dialog.fb_dialog_advanced(style='overflow: visible; z-index: 2147483644;')
            .fb_dialog_content
                iframe.fb_customer_chat_icon(name='blank_f18f159e9d250e' width='60px' tabindex='-1' data-testid='bubble_iframe' frameborder='0' allowtransparency='true' allowfullscreen='true' scrolling='no' allow='encrypted-media' src='https://www.facebook.com/v10.0/plugins/customer_chat/bubble' style='margin: 0px 12px; padding: 0px; position: fixed; z-index: 2147483644; bottom: 24px; top: auto; height: 60px; width: 60px; border-radius: 29px; box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 12px 0px; background: none; display: block; animation: 3s ease-out 0s 1 normal none running slideInFromBottomDelay; right: 12px;')
                iframe(name='unread_f18f159e9d250e' tabindex='-1' data-testid='unread_iframe' frameborder='0' allowtransparency='true' allowfullscreen='true' scrolling='no' allow='encrypted-media' src='https://www.facebook.com/v10.0/plugins/customer_chat/bubble' style='bottom: 68px; position: fixed; width: 20px; height: 24px; z-index: 2147483645; border-radius: 4pt; background: none; right: 22px;')
