nav.navbar.navbar-expand-md.navbar-no-bg.blog-navbar.jh-page-navbar
    .container
        .row
            #logo-block
                a.navbar-brand.navbar-brand-blog(href='https://www.xn--s0y3c.tw' title='真相工作室') 真相工作室
            #navbar-toggler-button
                button.navbar-toggler.navbar-light(type='button' data-toggle='collapse' data-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
                    span.navbar-toggler-icon
        #navbarNav.collapse.navbar-collapse
            ul#menu-primary.navbar-nav.nav-l-auto
                li#menu-item-9894.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-9894
                    a(href='https://www.xn--s0y3c.tw/about-ahan') 關於靈媒阿翰
                li#menu-item-7502.navicon_book.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-7502
                    a(href='https://www.xn--s0y3c.tw/post/6957') 出版的書
                li#menu-item-9774.menu-item.menu-item-type-taxonomy.menu-item-object-category.menu-item-9774
                    a(href='https://www.xn--s0y3c.tw/ancestor-story') 祖先故事
                li#menu-item-9895.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-has-children.menu-item-9895
                    a.dropdown-toggle(href='https://www.xn--s0y3c.tw/ahan-service' data-toggle='dropdown' data-target='#') 讀者服務
                    ul.dropdown-menu
                        li#menu-item-9896.menu-item.menu-item-type-post_type.menu-item-object-post.menu-item-9896
                            a(href='https://www.xn--s0y3c.tw/post/1822') 祖先陰陽連線
                        li#menu-item-9897.menu-item.menu-item-type-post_type.menu-item-object-post.menu-item-9897
                            a(href='https://www.xn--s0y3c.tw/post/4610') 寵物心靈溝通
                        li#menu-item-9898.menu-item.menu-item-type-post_type.menu-item-object-post.menu-item-9898
                            a(href='https://www.xn--s0y3c.tw/post/1769') 代印祖先牌位
                li#menu-item-10333.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-10333
                    a(href='https://www.xn--s0y3c.tw/linkup-faq') 常見問題
                li#menu-item-9835.menu-item.menu-item-type-post_type.menu-item-object-post.menu-item-9835
                    a(href='https://www.xn--s0y3c.tw/post/7013') 聯絡我們
            // <ul class="nav navbar-nav navbar-right nav-share-btn">
            // <li>
            // <a href="https://www.facebook.com/groups/ahan.talk/" target="_blank" title="靈媒阿翰聊天室 Facebook 社團"><i class="fab fa-facebook-square btn btn-outline-dark"><span style="display: none">&emsp;</span></i></a>
            // </li>
            // <li>
            // <a href="https://www.youtube.com/channel/UCiwdrtpySPU_d__9fpwWDfg" target="_blank" title="靈媒阿翰 Youtube 頻道"><i class="fas fa-play-circle btn btn-outline-dark"><span style="display: none">&emsp;</span></i></a>
            // </li>
            // </ul>
